$color-white: #ffffff;
$color-purple: #5840bb;
$color-light-blue: #c7f2ff;
$color-light-pink: #ffe5ee;
$color-dark-pink: #f96a9b;
$color-light-purple: #f3f6ff;
$color-dark-blue: #42427d;
$dark-placeholder: #7B7B7B;

$test: #51b103;
