@import "src/assets/scss/colors";

.form-map-stage-container {
  height: 100%;
  width: 100%;
  padding: 36px;
}
.map-wrapper {

}
.map-wrapper-header {
  font-family: Montserrat-SemiBold, serif;
  font-size: 46px;
  color: $color-dark-blue;
  padding-left: 40px;
}
.map-container-header {
  top: 25px;
  position: relative;

  mat-card {
    height: 100%;
    padding: 0;
    border-radius: 30px;
    color: $color-dark-blue;
    font-family: Montserrat-SemiBold, serif;
    font-size: 30px;
  }
}
.map-container {
}
