.form-map-stage-container {
  height: 100%;
  width: 100%;
  padding: 36px;
}
.map-wrapper {

}
.map-wrapper-header {
  font-size: 46px;
  background-color: #f96a9b;
}
.map-container-header {
  background-color: #C7F2FF;

  mat-card {
    height: 70px;
    padding: 0;
  }
}
.map-container {
  background-color: darkslateblue;
}
