<div class="form-main-page-container" fxLayout="row" fxLayoutGap="30px">
  <div class="guide-section" fxFlex="65" fxLayout="column">
    <div class="guide-header" fxFlex="15" fxLayoutAlign="center center">
      <p>Witamy w rejestratorze szczepień!</p>
    </div>
    <div class="guide-counter-container" fxFlex="20" fxLayout="row" fxLayoutAlign="center" fxLayoutGap="30px">
      <mat-card fxFlex="45" fxLayoutAlign="center center" fxLayoutGap="20px" class="guide-counter-card guide-left-card">
        <mat-card class="small-icon-wrapper" fxLayoutAlign="center center">
          <mat-icon aria-hidden="false">accessibility_new</mat-icon>
        </mat-card>
        <div class="counter-info">
          <h1>1 231 425</h1>
          <p>Zaszczepionych</p>
        </div>
        <mat-card class="guide-icon-counter-wrapper" fxLayoutAlign="center center" style="width: 50px">
          <!--          <mat-icon aria-hidden="false" fxLayoutAlign="center center">add</mat-icon>-->
          <p>+220</p>
        </mat-card>
      </mat-card>
      <mat-card fxFlex="35" fxLayoutAlign="center center" fxLayoutGap="20px"
                class="guide-counter-card guide-right-card">
        <mat-card class="small-icon-wrapper" fxLayoutAlign="center center">
          <mat-icon aria-hidden="false">place</mat-icon>
        </mat-card>
        <div class="counter-info">
          <h1>1 536</h1>
          <p>Placówek</p>
        </div>
        <mat-card class="guide-icon-counter-wrapper" fxLayoutAlign="center center" style="width: 50px">
          <p>+5</p>
        </mat-card>
      </mat-card>
    </div>
    <div fxFlex="65">
      <mat-card class="guide-card">
        <p>
          <span>1. Zarejestruj się</span> już dziś i zarezerwuj termin szczepienia w dowolnym miejscu.
          Po wypełnieniu formularza z danymi osobami otrzymasz propozycję lokalizacji do szczepienia.
        </p>
        <p>
          <span>2. Wybierz</span> placówkę w okolicy i termin w którym zostaniesz zaszczepiony.
        </p>
        <p>
          <span>3. Potwierdź</span> swoje dane i ustaw się w kolejce bez wychodzenia z domu.
        </p>
      </mat-card>
    </div>
  </div>
  <div class="info-section" fxFlex="35" fxLayout="column">
    <div class="contact-container" fxFlex="10" fxLayout="row" fxLayoutAlign="center" fxLayoutGap="30px">
      <mat-card class="small-icon-wrapper contact-icon-wrapper" fxLayoutAlign="center center">
        <mat-icon>info</mat-icon>
      </mat-card>
      <mat-card class="contact-bar" fxLayout="row" fxLayoutAlign="space-around center">
        <p>Potrzebujesz pomocy?</p>
        <mat-icon>email</mat-icon>
      </mat-card>
      <img class="contact-image" src="assets/images/doctor.png" alt="doctor">
    </div>
    <div class="news-container" fxFlex="45">
      <div class="news-header" fxLayout="row" fxLayoutAlign="space-around end">
        <h1>Aktualności</h1>
        <div fxLayout="row">
          <p>Zobacz wszystkie</p>
          <mat-icon>navigate_next</mat-icon>
        </div>
      </div>
      <div class="news-content-container" fxLayout="column" fxLayoutGap="20px">
        <div *ngFor="let item of newsArray" class="news-item" fxLayout="row" fxLayoutGap="20px">
          <div class="news-date">
            <p>{{item.date}}</p>
          </div>
          <p>{{item.label}}
            <br> <span>{{item.labelExtension}}</span></p>
        </div>
      </div>
    </div>
    <div class="infection-rate-container" fxFlex="40">
      <h1>Aktualna liczba zachorowań</h1>
      <app-line-chart></app-line-chart>
    </div>
  </div>
</div>
