<form
  [formGroup]="appointmentForm"
  (ngSubmit)="addAppointment()"
  fxLayout="column"
  fxLayoutAlign="space-between center"
>
  <button mat-icon-button class="close-button" [mat-dialog-close]="true">
    <mat-icon class="close-icon" color="warn">close</mat-icon>
  </button>
  <span class="title-container">Nowa wizyta</span>
  <mat-form-field appearance="outline" class="form-control-container">
    <mat-label>Pacjent</mat-label>
    <input
      matInput
      [ngModel]="getCitizenFullName"
      [ngModelOptions]="{ standalone: true }"
      disabled
    />
  </mat-form-field>
  <mat-form-field appearance="outline" class="form-control-container">
    <mat-label>Termin</mat-label>
    <input
      matInput
      [ngxMatDatetimePicker]="picker"
      formControlName="date"
      [min]="minDate"
    />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <ngx-mat-datetime-picker #picker [showSeconds]="false">
    </ngx-mat-datetime-picker>
    <mat-error *ngIf="appointmentForm.controls.date.errors?.required">
      Proszę wybrać termin
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" *ngIf="doctors$ | async as doctors">
    <mat-label>Doktor</mat-label>
    <mat-select formControlName="doctor">
      <mat-option *ngFor="let d of $any(doctors)" [value]="d.id">{{
        d.id
      }}</mat-option>
    </mat-select>
    <mat-error *ngIf="appointmentForm.controls.doctor.errors?.required">
      Proszę wybrać doktora
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline" *ngIf="vaccines$ | async as vaccines">
    <mat-label>Szczepionka</mat-label>
    <mat-select formControlName="vaccine">
      <mat-option *ngFor="let v of $any(vaccines)" [value]="v">{{
        v.company.name
      }} - {{v.code}}</mat-option>
    </mat-select>
    <mat-error *ngIf="appointmentForm.controls.vaccine.errors?.required">
      Proszę wybrać szczepionkę
    </mat-error>
  </mat-form-field>

  <button mat-stroked-button color="primary" type="submit">Dodaj</button>
</form>
