<form
  [formGroup]="loginForm"
  (ngSubmit)="logIn()"
  fxLayout="column"
  fxLayoutAlign="space-between center"
>
  <button mat-icon-button class="close-button" [mat-dialog-close]="true">
    <mat-icon class="close-icon" color="warn">close</mat-icon>
  </button>
  <mat-form-field appearance="legacy" class="form-control-container">
    <mat-label>Login</mat-label>
    <input matInput formControlName="username" />
    <mat-error *ngIf="loginForm.controls.username.errors?.required">
      Proszę podać login
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="legacy" class="form-control-container">
    <mat-label>Hasło</mat-label>
    <input matInput type="password" formControlName="password" />
    <mat-error *ngIf="loginForm.controls.password.errors?.required">
      Proszę podać hasło
    </mat-error>
  </mat-form-field>

  <button mat-stroked-button color="primary" type="submit" class="login-button">
    Zaloguj
  </button>
</form>
