@import "src/assets/scss/colors";
@import "../../portal.component.scss";

section {
  height: 90%;
}
.file-container {
  text-align: center;
  input[type="file"] {
    display: none;
  }
  .custom-file-upload {
    display: inline-block;
    cursor: pointer;
    padding: 0.5em;
    font-size: 18px;
    border-radius: 60px;
    mat-icon {
      color: $color-dark-pink;
      margin-right: 5px;
    }
  }
  .custom-file-upload:hover {
    background-color: $color-light-pink;
    transition: 0.5s;
  }

  button {
    margin-left: 20px;
  }
}
form,
.statistics-container {
  min-height: 450px;
  width: 100%;
  border-radius: 60px;
  padding: 5%;
}

.statistics-container {
  background: $color-light-pink;
  overflow-y: auto;
  max-height: 95%;

  .title-container {
    margin-bottom: 20px;
  }

  .labels-container {
    width: 100%;
    margin-top: 20px;
    span {
      text-align: center;
      color: $color-purple;
      img {
        max-width: 200px;
        max-height: 70px;
      }
    }
    .amount-container {
      font-weight: bold !important;
      font-size: larger;
    }
  }
}
