<div class="form-personal-data-wrapper" fxLayoutAlign="center center" >
  <div class="form-personal-data-container" fxLayout="column"
       fxFlex="60" fxFlex.lt-lg="100"
       fxLayoutAlign="center center"
       fxLayoutGap="30px">
    <h1>Podaj podstawowe dane osobowe w celu weryfikacji z systemem.</h1>
    <div class="form-section" fxFlex="30">
      <form [formGroup]="form" (ngSubmit)="submitForm()" fxLayout="column" fxFlexAlign="start center">
        <mat-form-field class="example-form-field">
          <mat-label>PESEL</mat-label>
          <input matInput type="text" formControlName="pesel">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Sposób potwierdzenia</mat-label>
          <mat-select formControlName="communication_channel_type">
            <mat-option *ngFor="let type of notificationTypes" [value]="type.value">
              {{type.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div fxLayoutAlign="center center" *ngIf="spinnerActive">
          <mat-spinner diameter="40"></mat-spinner>
        </div>
        <button *ngIf="!spinnerActive" type="submit" mat-raised-button>Wyślij</button>
<!--        <button *ngIf="(userDetails$ | async)" type="submit" style="color: white; background-color: green" mat-raised-button>Zaakceptowano</button>-->
      </form>
    </div>
    <div *ngIf="(userDetails$ | async) as obj"
         class="form-section"
         fxFlex="30"
         fxLayout="column"
         fxLayoutAlign="center center">
      <div fxLayoutGap="10px" fxLayoutAlign="center center">
        <p style="font-weight: bold">Imię: </p>
        <p>{{obj.userCandidateModel.name}}</p>
      </div>
      <div fxLayoutGap="10px" fxLayoutAlign="center center">
        <p>Nazwisko: </p>
        <p>{{obj.userCandidateModel.surname}}</p>
      </div>
      <div fxLayoutGap="10px" fxLayoutAlign="center center">
        <p>PESEL: </p>
        <p>{{obj.userCandidateModel.pesel}}</p>
      </div>
      <div fxLayoutGap="10px" fxLayoutAlign="center center">
        <p>Nr. telefonu: </p>
        <p>{{obj.userCandidateModel.phone_number}}</p>
      </div>
      <button mat-raised-button color="primary" class="accept-button" (click)="openRegistrationForm(obj.registerUrl)">
        <p style="line-height: 1.8">Potwierdzam, że moje dane <br> osobwe są poprawne.</p>
      </button>
    </div>
  </div>
</div>

