<div class="form-personal-data-wrapper" fxLayoutAlign="center center">
  <div class="form-personal-data-container" fxLayout="column"
       fxFlex="60" fxFlex.lt-lg="100"
       fxLayoutAlign="center center"
       fxLayoutGap="30px">
    <h1>Podaj podstawowe dane osobowe w celu weryfikacji z systemem.</h1>
    <div class="form-section" fxFlex="30">
      <form [formGroup]="form" (ngSubmit)="submitForm()" fxLayout="column" fxFlexAlign="start center">
        <mat-form-field class="example-form-field">
          <mat-label>PESEL</mat-label>
          <input matInput type="text" formControlName="pesel">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Sposób potwierdzenia</mat-label>
          <mat-select formControlName="communication_channel_type">
            <mat-option *ngFor="let type of notificationTypes" [value]="type.value">
              {{type.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div fxLayoutAlign="center center" *ngIf="spinnerActive">
          <mat-spinner diameter="40"></mat-spinner>
        </div>
        <button *ngIf="!spinnerActive" type="submit" mat-raised-button>Wyślij</button>
      </form>
    </div>
  </div>
</div>
