<div class="dashboard-container">
  <div class="map-conatiner" fxFlex="70">
    <app-map [markers]="hospitalArray" (hospitalClicked)="fetchAppointments($event)"></app-map>
  </div>
  <div class="details-container" fxFlex="30">
    <ng-container *ngIf="hospitalArray.length > 0">
      <app-appointment-view (click)="openAppointmentDialog(a)" class="appointment-view"
                            *ngFor="let a of appointmentArray" [appointment]="a">
      </app-appointment-view>
    </ng-container>
    <ng-container *ngIf="appointmentArray.length === 0">
      <div class="no-appointment" fxLayoutAlign="center center">
        <div class="title-wrapper">
          <p>Wybierz placówkę</p>
        </div>
      </div>
    </ng-container>
  </div>
</div>
<!--<button (click)="api.mapEvolved.next()"></button>-->
