@import "src/assets/scss/colors";

.main-container {
  height: 100%;
  width: 100%;
  padding: 36px;
  overflow-y: auto;
}
.citizien-container{
    background-color:silver;
    padding:1em;
    .search-input{
        width:40%;
    }
}
