<div
  class="main-container"
  fxLayout.gt-md="row"
  fxLayout="column"
  fxLayoutGap="30px"
>
  <div
    class="citizien-container"
    fxFlex.gt-md="50"
    fxLayout="column"
    fxLayoutAlign="start center"
  >
    <mat-form-field apperance="outline" class="search-input">
      <mat-label>Pesel pacjenta</mat-label>
      <input matInput /><button mat-button matPrefix mat-icon-button>
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>

    <button>Dodaj nowego pacjenta</button>

    <form><h4>Dane pacjenta</h4>
    email
    pesel
    imie i nazwisko
    </form>
  </div>
  <div fxFlex.gt-md="50" 
  fxLayout="column"
  fxLayoutAlign="start center">
    Terminy szczepień pacjenta
  </div>
</div>
